{% extends 'travelsite/base.html' %}

{% load static %}


{% block banner-section %}
<section class="hero bg-center bg-cover" style="background: url({% static 'travelsite/img/myhero-banner2.png' %})">
  <div class="dark-overlay py-5">
    <div class="overlay-content">
      <div class="container py-5 text-white text-center">
        <h1>JOBS</h1>
        <p></p>
      </div>
    </div>
  </div>
</section>
{% endblock %}


thisi is form the jobview
{% block content %}

       
    <!-- Blog listing -->
    <section class="pt-5">
      <div class="container pt-5">
        <div class="row mb-5">
          <div class="col-lg-10">
            <div class="row ">
              
              
              <div class="container  text-center mb-5 mt-5">
                <h3>Find Job by city</h3>
                <h5>Featured cities</h5>
                {% comment %} <p class="mb-0">A list of services we provide</p> {% endcomment %}
              </div>
              <div class="  destinations-slider owl-carousel owl-theme  ">
                {% for city in city_list %}

                <a class="destination d-flex align-items-end bg-center bg-cover" href="{{city.get_city_url}}" style=" height:250px; background: url({% static 'travelsite/img/services_card/utility_card.png' %})">
                  <div class=" w-100 text-center text-white index-forward has-transition">
                    <h2 class="h3 mb-4">{{city.name}}</h2>
                    {% comment %} <div class="btn btn-primary btn-block destination-btn text-white">Discover</div> {% endcomment %}
                  </div></a>
                  {% comment %} <a class="destination d-flex align-items-end bg-center bg-cover" href="" style= " height:250px; background: url({% static 'travelsite/img/services_card/citytour.png'  %})"> {% endcomment %}
                  
                  
                  {% comment %} <div class=" w-100 text-center text-white index-forward has-transition">
                    <h2 class="h3 mb-4">Live & work Abroad</h2></div></a> {% endcomment %}
                  {% endfor %}
                  
            </div>
            <div>
              {% comment %} <a href="" ><button class="btn btn-dark text-center" >View all</button></a> {% endcomment %}
            </div>



              {% comment %} ****1 ends {% endcomment %}

                   {% comment %} ****2 {% endcomment %}
                   <div class="container  text-center mb-5 mt-5">
                    
                    <h3>Featured category</h3>
                    <a href=''><p class="mb-0">view all category -></p></a>
                  </div>
                  <div class="  destinations-slider owl-carousel owl-theme  ">
                    {% for cat in category_list %}
    
                    <a class="destination d-flex align-items-end bg-center bg-cover" href="{{cat.get_category_url}}" style=" height:250px; background: url({% static 'travelsite/img/services_card/utility_card2.png' %})">
                      <div class=" w-100 text-center text-white index-forward has-transition">
                        <h2 class="h3 mb-4">{{cat.title}}</h2>
                        {% comment %} <div class="btn btn-primary btn-block destination-btn text-white">Discover</div> {% endcomment %}
                      </div>
                    </a>
                      {% comment %} <a class="destination d-flex align-items-end bg-center bg-cover" href="" style= " height:250px; background: url({% static 'travelsite/img/services_card/citytour.png'  %})"> {% endcomment %}
                      
                      
                      {% comment %} <div class=" w-100 text-center text-white index-forward has-transition">
                        <h2 class="h3 mb-4">Live & work Abroad</h2></div></a> {% endcomment %}
                      {% endfor %}
                      
                </div>
                <div>
                  {% comment %} <a href="" ><button class="btn btn-dark text-center" >View all</button></a> {% endcomment %}
                </div>
    
    
    
                  {% comment %} **** 2 ends{% endcomment %}
         

             </div>
           
          
          <!-- Recent job begin -->
          <div class="py-4 ">
            <header class="text-center mb-5 mt-5">
              <h2>Most Recent Jobs</h2>
              <a href=''><p class="mb-0">view all -></p></a>

            </header>
            
              <div class="row bg-light  ">
                {% for post in most_recent_post %}
                <div class=" container text-center col-lg-5 col-md-10">
                  <div class='custom-card'>
                    <ul class="list-inline small text-uppercase mb-0">
                      <li class="list-inline-item mr-0 text-gray align-middle">By </li>
                      <li class="list-inline-item align-middle mr-0"><a class="font-weight-bold reset-anchor" href="#">{{post.company_name}}</a></li>
                      
                      <li class="list-inline-item text-gray align-middle mr-0">|</li>
                      <li class="list-inline-item text-gray align-middle">{{post.post_date|timesince}} ago</li>
                    </ul>
                      <a class="text-reset text-decoration-none" href="">
                      <img class="mb-4" src="{% static 'travelsite/img/bag' %}" alt="" height="150">
                      <h3 class="h5">{{post.job_title}}</h3>
                      <p class="text-small text-muted">{{post.shotend_desc}}</p></a>
                      <div>
                        <a href=""><button>View Job</button></a>
                      </div>
                    </div>
                </div>
                {% endfor %}
              </div> 
            </div>
          </div>
          <!-- resent job end -->


          
          <!--right Sidebar is here -->
         
          
        </div>
      </div>
    </section>


{% endblock %}
