{% load static%}



      <div class="container py-4">
        <header class="text-center mb-5">
          <h2>Toure around Dubai</h2>
          <p>Get prepared to see most of the amaizing places in Dubai</p>
        </header>
        <div class="row text-center">
          <div class="col-lg-3 col-md-6"><a class="text-reset text-decoration-none" href="#"><img class="mb-4" src="{% static 'travelsite/img/bag.png' %}" alt="" height="150">
              <h3 class="h5">Backpack</h3>
              <p class="text-small text-muted">pack with style</p></a></div>
          <div class="col-lg-3 col-md-6"><a class="text-reset text-decoration-none" href="#"><img class="mb-4" src="{% static 'travelsite/img/camera.png' %}" alt="" height="150">
              <h3 class="h5">Camera</h3>
              <p class="text-small text-muted"> Catch the glimpse of every amaizing view in your path great for documentation purposes</p></a></div>
          <div class="col-lg-3 col-md-6"><a class="text-reset text-decoration-none" href="#"><img class="mb-4" src="{% static 'travelsite/img/glasses.png' %}" alt="" height="150">
              <h3 class="h5">Sunglasses</h3>
              <p class="text-small text-muted">It is essential to protect while while maintaining your style</p></a></div>
          <div class="col-lg-3 col-md-6"><a class="text-reset text-decoration-none" href="#"><img class="mb-4" src="{% static 'travelsite/img/headphone.png' %}" alt="" height="150">
              <h3 class="h5">Headphones</h3>
              <p class="text-small text-muted">Enjoy your best audio track in style </p></a></div>
        </div>
      </div>
      
