{% load static %}

<!-- {% comment %} <section class="pt-5" >
<div class="row container row-cols-1 row-cols-md-3 g-4">

  <div class="col">
    <div class="card">
      <img src="{{post.image.url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.detail}}</p>
      </div>
    </div>
  </div>

  {% endfor %} 
</div>
</section> {% endcomment %}

  Blog listing 
    <section class="pt-5">
      <div class="container pt-5">
             <h1 class='m-6 text-center pt-5 pb-5'> Recent Post </h1>
          
            <div class="row text-center">
                

              <div class="col-lg-4 mb-5"><a href="{{ post.get_absolute_url }}"><img class="img-fluid mb-4" src="{{post.image.url}}" alt=""/></a>
                <ul class="list-inline small text-uppercase mb-0">
                  <li class="list-inline-item mr-0 text-gray align-middle">By </li>
                  <li class="list-inline-item align-middle mr-0"><a class="font-weight-bold reset-anchor" href="#">{{post.author}}</a></li>
                  
                  <li class="list-inline-item text-gray align-middle mr-0">|</li>
                  <li class="list-inline-item text-gray align-middle">{{post.post_date|timesince}} ago</li>
                </ul>
                
                <h3 class="h4 mt-2"> <a class="reset-anchor" href="{{ post.get_absolute_url }}">{{post.title}}</a></h3>
                  
                
                  <a class="reset-anchor text-gray text-uppercase small mb-2 d-block" href="#">cat title</a>
                

                <p class="text-small mb-1">{{post.shotend_desc}}</p><a class="btn btn-link" href="{{ post.get_absolute_url }}">Continue reading</a>
              </div> -->
                <!-- {% endfor %} -->

             </div>
            <!-- Listing navigation -->
           
          </div>

            <!-- Categories widget -->
            <!-- Latest posts widget -->
           
            <!-- Instagram widget -->
            
          </div>
        </div>
      </div>
    </section> 