
{% load static %}


{% comment %} 
 <nav class="navbar navbar-expand-lg navbar-light bg-white py-4">
        <div class="container text-center"><a class="navbar-brand mx-auto" href="/"><img class="mb-0" src="{% static 'travelsite/img/headerbanner/prs-banner1.jpg' %}" alt="" width="190">
            <p class="text-large text-uppercase text-gray mb-0">Discover the world</p></a></div>
</nav> {% endcomment %}

{% comment %} 
<section class="hero bg-center bg-cover" style="background: url({% static 'travelsite/img/myherob-banner.png' %})">
      <div class="dark-overlay py-5">
        <div class="overlay-content">
          <div class="container py-5 text-white text-center">
            <h1>Home</h1>
            <p></p>
          </div>
        </div>
      </div>
    </section> {% endcomment %}

<div class="hero bg-center bg-cover" > 
   <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{% static 'travelsite/img/myherob-banner.png' %}" alt="First slide">
      <div class="carousel-caption d-none d-md-block border-gray">
        <h5>What We Do </h5>
        <p>"Welcome to Presic Travels, your ultimate companion for seamless travel experiences and career opportunities around the globe. At Presic Travels, we're dedicated to providing travelers with expert advice, personalized recommendations, and convenient booking options to ensure every journey is unforgettable.

        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'travelsite/img/myherob-banner.png' %}" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Explore Destinations</h5>
        <p>
          Discover your next adventure with our comprehensive destination guides, featuring insider tips, local insights, and must-see attractions. Whether you're dreaming of sandy beaches, bustling cities, or serene landscapes, our curated selection of destinations will inspire your wanderlust.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'travelsite/img/myherob-banner.png' %}" alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Find Jobs</h5>
        <p>
          Take the next step in your career with our job portal, connecting talented individuals with exciting employment opportunities worldwide. From full-time positions to freelance gigs, our job listings cover a diverse range of industries and skill sets. Whether you're seeking a new challenge or exploring remote work options, we've got you covered.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'travelsite/img/myherob-banner.png' %}" alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Expert Travel Advice</h5>
        <p>
          Travel with confidence with our expert travel advice tailored to your destination of choice. Stay informed about visa requirements, health advisories, safety tips, and cultural customs to ensure a smooth and enjoyable journey. Our team of seasoned travelers and local experts is here to answer your questions and provide valuable insights every step of the way.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'travelsite/img/myherob-banner.png' %}" alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Job Search Assistance</h5>
        <p>         
          Navigate the job market with ease with our job search assistance services. Whether you're a recent graduate, seasoned professional, or aspiring entrepreneur, we'll help you find the perfect job opportunity to match your skills and career goals. From resume writing to interview preparation, our resources and tools will empower you to land your dream job.
        </p>
      </div>
    </div>
   </div>
  </div>
</div>
