 
{% load static %}
 
 
 
 <section class="pt-5 container " style="margin-top:20px; margin-bottom:20px;" >
      <div class="container  text-center">
        <h1>SERVICES</h1>
        <p class="mb-0">A list of services we provide</p>
      </div>
      <div class="  destinations-slider owl-carousel owl-theme  ">
        <a class="destination d-flex align-items-end bg-center bg-cover" href="{% url 'mytravel:destinations' %}" style=" height:250px; background: url({% static 'traveladvisory/img/services_card/visa.png' %})">
          <div class=" w-100 text-center text-white index-forward has-transition">
            <h2 class="h3 mb-4">Explore Destinations</h2>
            {% comment %} <div class="btn btn-primary btn-block destination-btn text-white">Discover</div> {% endcomment %}
          </div>
        </a>
        <a class="destination d-flex align-items-end bg-center bg-cover" href="" style= " height:250px; background: url({% static 'traveladvisory/img/services_card/citytour.png'  %})">  
          <div class=" w-100 text-center text-white index-forward has-transition">
            <h2 class="h3 mb-4">Find Jobs</h2>
            {% comment %} <div class="btn btn-primary btn-block destination-btn text-white">Discover</div> {% endcomment %}
          </div>
        </a>
        <a class="destination d-flex align-items-end bg-center bg-cover" href="{% url 'mytravel:travel_advice' %}" style=" height:250px; background: url({% static 'traveladvisory/img/services_card/cargo.png' %})">         
            <div class=" w-100 text-center text-white index-forward has-transition">
            <h2 class="h3 mb-4">Expert Travel Advice</h2>
            {% comment %} <div class="btn btn-primary btn-block destination-btn text-white">Discover</div> {% endcomment %}
          
          </div>
        </a>
        <a class="destination d-flex align-items-end bg-center bg-cover" href="{% url 'mytravel:tour_services' %}" style=" height:250px; background: url({% static 'traveladvisory/img/services_card/travel.png' %})">
          <div class=" w-100 text-center text-white index-forward has-transition">
            <h2 class="h3 mb-4">Tour Services</h2>
            {% comment %} <div class="btn btn-primary btn-block destination-btn text-white">Discover</div> {% endcomment %}
          </div>
        </a>
        
      </div>
    </section>
   