{% load static %}

 
      <div class="container py-4">
        <div class="row align-items-center">
          <div class="col-lg-6 position-relative py-4"><img class="subscribe-img" src="{% static 'travelsite/img/subscribe-img-1.jpg' %}" alt=""><img class="subscribe-img" src="{% static 'travelsite/img/subscribe-img-2.jpg' %}" alt=""></div>
          <div class="col-lg-6">
            <h2>Get The Best money saving - Travel tips</h2>
            <p class="text-muted mb-5"></p>
            <form action="." method= "POST">
            {% csrf_token %}
              <div class="row">
                <div class="form-group col-lg-8">
                  {{signup_form}}
                  <!-- <input class="form-control" type="email" name="email" placeholder="Enter your email address"> -->
                </div>
                
                <div class="form-group col-lg-4">
                  <button class="btn btn-primary btn-dark btn-block" type="submit">Subscribe</button>
                </div>

                <div>
                  {% if messages %}
                      <ul class="messages">
                          {% for message in messages %}
                          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                          {% endfor %}
                      </ul>
                  {% endif %}
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
   