
{% load static %}

    <!-- Top categories section -->
    <section class="py-5 bg-light">
      <div class="container py-4">
        <header class="mb-5 text-center">
          <h2>Top categories</h2>
          <p> Bringing you the best places to be across the world</p>
        </header>
        <div class="row text-center">
          <div class="col-lg-2 col-md-4 col-sm-6 mb-4 mb-lg-0"><a class="reset-anchor d-block" href="">
              <svg class="svg-icon mb-3 svg-icon-big svg-icon-light text-primary">
                <use xlink:href="#food-1"> </use>
              </svg>
              <h3 class="h5">Restaurants</h3>
              <p class="text-muted text-small">3 Destinations</p></a></div>
          <div class="col-lg-2 col-md-4 col-sm-6 mb-4 mb-lg-0"><a class="reset-anchor d-block" href="">
              <svg class="svg-icon mb-3 svg-icon-big svg-icon-light text-primary">
                <use xlink:href="#paper-bag-1"> </use>
              </svg>
              <h3 class="h5 mb-1">Markets</h3>
              <p class="text-muted text-small">7 Destinations</p></a></div>
          <div class="col-lg-2 col-md-4 col-sm-6 mb-4 mb-lg-0"><a class="reset-anchor d-block" href=" ">
              <svg class="svg-icon mb-3 svg-icon-big svg-icon-light text-primary">
                <use xlink:href="#special-price-1"> </use>
              </svg>
              <h3 class="h5 mb-1">Low budget</h3>
              <p class="text-muted text-small">2 Destinations</p></a></div>
          <div class="col-lg-2 col-md-4 col-sm-6 mb-4 mb-lg-0"><a class="reset-anchor d-block" href="">
              <svg class="svg-icon mb-3 svg-icon-big svg-icon-light text-primary">
                <use xlink:href="#movie-camera-1"> </use>
              </svg>
              <h3 class="h5 mb-1">Cinemas</h3>
              <p class="text-muted text-small">4 Destinations</p></a></div>
          <div class="col-lg-2 col-md-4 col-sm-6 mb-4 mb-lg-0"><a class="reset-anchor d-block" href="">
              <svg class="svg-icon mb-3 svg-icon-big svg-icon-light text-primary">
                <use xlink:href="#beach-1"> </use>
              </svg>
              <h3 class="h5 mb-1">Beaches</h3>
              <p class="text-muted text-small">5 Destinations</p></a></div>
          <div class="col-lg-2 col-md-4 col-sm-6 mb-4 mb-lg-0"><a class="reset-anchor d-block" href="">
              <svg class="svg-icon mb-3 svg-icon-big svg-icon-light text-primary">
                <use xlink:href="#camping-1"> </use>
              </svg>
              <h3 class="h5 mb-1">Camping</h3>
              <p class="text-muted text-small">6 Destinations</p></a></div>
        </div>
      </div>
    </section>