{% load static%}



      <div class="container py-4">
        <header class="text-center mb-5">
          <h2>My travel essentials</h2>
          <p>Get prepared </p>
        </header>
        <div class="row text-center">
          <div class="col-lg-3 col-md-6"><a class="text-reset text-decoration-none" href="https://www.amazon.ae/Acoki-Electronic-Accessories-Organizer-Portable/dp/B07YRCVHCP?dchild=1&keywords=travel%2Bbag&qid=1615314271&sr=8-4&th=1&linkCode=ll1&tag=presic-21&linkId=b7ac7a13d1329e1595a8a168a04256ab&language=en_AE&ref_=as_li_ss_tl">
          <img class="mb-4" src="{% static 'travelsite/img/bag.png' %}" alt="" height="150">
              <h3 class="h5">Backpack</h3>
              <p class="text-small text-muted">pack with style</p></a></div>
          <div class="col-lg-3 col-md-6"><a class="text-reset text-decoration-none" href="https://www.amazon.ae/s?k=camera&i=specialty-aps&srs=22957245031&linkCode=ll2&tag=presic-21&linkId=b042d3bdea2db7a21769b48a59a5151f&language=en_AE&ref_=as_li_ss_tl">
          <img class="mb-4" src="{% static 'travelsite/img/camera.png' %}" alt="" height="150">
              <h3 class="h5">Camera</h3>
              <p class="text-small text-muted"> Catch the glimpse of every amaizing view in your path great for documentation purposes</p></a></div>
          <div class="col-lg-3 col-md-6"><a class="text-reset text-decoration-none" href="https://www.amazon.ae/s?k=sun+glasses&i=specialty-aps&srs=22957245031&linkCode=ll2&tag=presic-21&linkId=6a250b0be64875fb49fea94e42bb6f5f&language=en_AE&ref_=as_li_ss_tl">
          <img class="mb-4" src="{% static 'travelsite/img/glasses.png' %}" alt="" height="150">
              <h3 class="h5">Sunglasses</h3>
              <p class="text-small text-muted">It is essential to protect while while maintaining your style</p></a></div>
          <div class="col-lg-3 col-md-6"><a class="text-reset text-decoration-none" href="https://www.amazon.ae/s?k=head+set&i=specialty-aps&srs=22957245031&linkCode=ll2&tag=presic-21&linkId=94f698251e8a2217c4b4656c11a26d6f&language=en_AE&ref_=as_li_ss_tl">
          <img class="mb-4" src="{% static 'travelsite/img/headphone.png' %}" alt="" height="150">
              <h3 class="h5">Headphones</h3>
              <p class="text-small text-muted">Enjoy your best audio track in style </p></a></div>
        </div>
      </div>
      
