{% extends 'travelsite/base.html' %}
{% load static %}


{% block banner-section %}
<section class="hero bg-center bg-cover" style="background: url({% static 'travelsite/img/myhero-banner2.png' %})">
    <div class="dark-overlay py-5">
      <div class="overlay-content">
        <div class="container py-5 text-white text-center">
           
            
          <h1>Dashboard</h1><h4>{{user.username}}<h4>
          

          <p></p>
        </div>
      </div>
    </div>
  </section>
  {% endblock%}

{% block content %}

<div class="container my-5">

    <!-- Section: Components -->
    <section class="">
      <section id="demo" class="">
        {% comment %} <h3 class="text-center"><strong>Demo</strong></h3>
          <div class="text-center">
            <a class="btn btn-outline-light" href="https://mdbootstrap.com/freebies/dark-theme/" target="_blank" role="button">Download dark theme</a>
        </div>
  
        <hr class="my-5" /> {% endcomment %}
 
        <!--Section: Tables-->

        <section>
          <div class="text-center">
            <h4><strong>Job Posts</strong></h4>

            <a class="btn btn-primary mb-5 text-white" href="{% url 'myjob:create-job' %}" role="button">Post New Job</a>
            
          </div>
             {% for post in job_admin_post %}
             {{ post }}
             {% endfor %}
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Job Posts</th>
                <th scope="col">Post date</th>
                <th scope="col">update</th>
                <th scope="col">delete</th>
              </tr>
            </thead>
            <tbody>
              {% for job in admin_job %}
              <tr>
                <th scope="row">1</th>
                <td><a class='text-black' href="{{job.get_absolute_url}}">{{job.job_title}}</a></td>
                <td>{{job.post_date}}</td>
                <td><a href='{{job.get_update_url}}'>Updatepost</a></td>
                <td><a href="{{job.get_delete_post}}" >Delete post</a></td>
                
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </section>
 <hr>
 <br>
        <!-- post blog -->
    {% if request.user.author %}
        <section>
          <div class="text-center">
            <h4><strong>Blog Posts</strong></h4>

            <a class="btn btn-primary mb-5 text-white" href="{% url 'post-create' %}" role="button">Post New Blog</a>
            
          </div>
          
             
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Blog Posts</th>
                <th scope="col">Post date</th>
                <th scope="col">update post</th>
              </tr>
            </thead>
            <tbody>
              {% for post in author_posts %}
              <tr>
                <th scope="row">1</th>
                <td><a href="{{post.get_absolute_url}}">{{post.title}}</a></td>
                <td>{{post.post_date}}</td>
                <td><a href="{{post.blog_update_url}}">udatepost</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          {% comment %} <a class="btn btn-primary mb-5 text-center text-white" href="{% url 'post-create' %}" role="button">Post blog</a> {% endcomment %}

        </section>
        {% else %}
           
        {% endif %}
       
        <!--Section: Tables-->
  
             <!--Section: Shadows-->
      </section>
    </section>
    <!-- Section: Components -->
  
  </div>


{% endblock %}