{% load static %}


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Presic Travels And Recruitment Services</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    
  
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="{% static 'travelsite/vendor/bootstrap/css/bootstrap.min.css' %}">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="{% static 'travelsite/vendor/owl.carousel2/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'travelsite/vendor/owl.carousel2/assets/owl.theme.default.min.css' %}">
    <!-- Google fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:300,400&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface&amp;display=swap">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{% static 'travelsite/css/style.default.css' %}" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{% static 'travelsite/css/custom.css' %}"  >
  
    <link rel="shortcut icon" href="{% static 'travelsite/img/favicon.png' %}">

       <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    {% comment %} this is for the google auto adds display on this site {% endcomment %}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8274346351987124"
     crossorigin="anonymous"></script>
    

      <!-- Bootstrap core JavaScript -->
  <script src="{% static 'travelsite/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'travelsite/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'travelsite/carousel_js.js' %}"> </script>
     
        
  </head>


  <!-- share button -->

  <body>


    <!-- Header-->
    <header class="header">
      <!-- Top bar -->
      <div class="py-2 bg-light  text-dark">
        <div class="container py-1">
          <div class="row ">
            <div class="col-lg-4">
              
      
            </div>
            <div class="col-lg-4  d-lg-block text-center">
              <ul class="list-inline mb-0 small">
                <li class="list-inline-item ml-auto mt-0 mb-0 p-0 "><a class="reset-anchor" href=""><img src="{% static 'travelsite/img/presic_logo2.png' %}" alternate="log"></a></li>

                <li class="list-inline-item"><a class="reset-anchor" href="https://www.facebook.com/presictravels"><i class="fab fa-facebook-f"></i></a></li>
                <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-twitter"></i></a></li>
                <li class="list-inline-item"><a class="reset-anchor" href="https://api.whatsapp.com/send?phone=+2349129762712"><i class="fab fa-whatsapp"></i>+2349129762712</a></li>
                {% comment %} <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-instagram"></i></a></li> {% endcomment %}
                {% comment %} <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-linkedin"></i></a></li> {% endcomment %}
                <li class="list-inline-item "><a class="reset-anchor" href="mailto:presictravels@gmail.com"><i class="fab fa-email"></i>presictravels@gmail.com</a></li>
                
                {% comment %} <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-youtube"></i></a></li>  {% endcomment %}
                {% comment %} <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-vimeo-v"></i></a></li> {% endcomment %}
              </ul>
            </div>

            

            {% comment %} the user profile {% endcomment %}
            
     
          </div>
        </div>
      </div>
      <!-- Navbar 1 -->
     

      <!-- Navbar 2 -->
      
 <nav class="navbar navbar-expand-lg navbar-light border-gray py-2 bg-dark text-white">
        <div class="container">
          <button class="navbar-toggler navbar-toggler-right mx-auto border-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto text-light">
              <li class="nav-item px-1">
                <!-- Link--><a class="nav-link active" href="{% url 'mytravel:index' %}">Home</a>
              </li>
              <li class="nav-item px-1">
                <!-- Link--><a class="nav-link" href="">Destination</a>
              </li>
              <li class="nav-item px-1">
                 <!-- Link--><a class="nav-link" href="{% url 'myjob:home' %}">Jobs</a> 
              </li>
              {% if request.user.is_authenticated %}
                <li class="nav-item px-1">
                  <!-- Link--><a class="nav-link" href="{% url 'account:logout' %}">Logout</a>
                </li>
                <li class="nav-item px-1">
                 <!-- Link--><a class="nav-link" href="{% url 'account:userdashboard_' %}">Dashboard</a>
                </li>
              {% else %}
                 
                <li class="nav-item px-1">
                  <!-- Link--><a class="nav-link" href="{% url 'account:login' %}">Login</a>
                </li>
                <li class="nav-item px-1"><a class="nav-link" href="{% url 'account:register' %}">SignUp</a></li>
              {% endif %}
              
              
              {% comment %} <li class="nav-item px-1 dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                <div class="dropdown-menu text-center text-lg-left" aria-labelledby="navbarDropdownMenuLink"><a class="dropdown-item" href="index.html">Home</a><a class="dropdown-item" href="listing.html">Listing</a><a class="dropdown-item" href="post.html">Post</a></div>
              </li> {% endcomment %}
            </ul>
          </div>
        </div>
      </nav>
      
     
    </header>
    <!-- Destinations -->

{% block banner-section %}

{% endblock %}


{% block content %}

{% endblock %}



    <!-- Travel essentials section -->
    <section class="py-5 bg-light">
     {% include 'mytravel/included/traveltools.html' %}
    </section>
    
    <!-- Subscribe section -->

    

   
    <!-- Top categories section -->
    <section class="py-5 bg-light">
      
    </section>
    <!-- Sponsors section-->
    <section class="py-5">
      
    </section>
    <footer class="bg-dark py-6" style="height:auto;">
      <div class="container ">
        <div class="row py-2">
          <div class="col-lg-4 text-center text-lg-left mb-2 mb-lg-0">
            <p class="small text-white text-uppercase mb-0 mt-5">presic travels &copy; copyright 2020 - all rights reserved</p>
          </div>
          <div class="col-lg-4 text-center mb-2 mt-5 mb-lg-0">
            <ul class="list-inline text-white small mb-0">
              <li class="list-inline-item"><a class="reset-anchor" href="https://www.facebook.com/presictravels"><i class="fab fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a class="reset-anchor" href="https://bit.ly/3ecLzGz"><i class="fab fa-whatsapp"></i></a></li>
              <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-instagram"></i></a></li>
              <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab"></i>About us</a></li>
              {% comment %} <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-linkedin"></i></a></li>
              <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-youtube"></i></a></li>
              <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-vimeo-v"></i></a></li> {% endcomment %}
            </ul>
          </div>
          <div class="col-lg-4 text-center text-lg-right">
            <p class="small text-muted text-uppercase mt-5 mb-0">Powered by<a href=""><h6 style="color:dark !important;">franklymade</h6></a>. </p>
            
            <p style="color:dark !important;" class="small text-muted text-uppercase mb-0"> <a href="https://bootstraptemple.com/p/bootstrap-travel"><h6 style="color:dark !important; font-size:3px !important;">Bootstrap Temples</h6></a>. </p>
          </div>
        </div>
      </div>
    </footer>
    <!-- JavaScript files-->
    <!-- <script src="{% static 'travelsite/' %}"></script> -->

    <script src="{% static 'travelsite/js/myjs.js' %}"></script>
    <script src="{% static 'travelsite/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'travelsite/vendor/owl.carousel2/owl.carousel.min.js' %}"></script>
    <script src="{% static 'travelsite/js/front.js' %}"></script>

    
    {% comment %} for the tinyMCE {% endcomment %}
    <script src= '{% static "travelsite/mytinymce/highlight.pack.js" %}'></script>
    <script>hljs.initHighlightingOnload();</script>

    {% comment %} for the crispy form {% endcomment %}
    {% comment %} 
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'travelsite/uniformdev_style/dist/uni-form.jquery.js' %}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> {% endcomment %}

    

    <script>
      // ------------------------------------------------------- //
      //   Inject SVG Sprite - 
      //   see more here 
      //   https://css-tricks.com/ajaxing-svg-sprite/
      // ------------------------------------------------------ //
      function injectSvgSprite(path) {
      
          var ajax = new XMLHttpRequest();
          ajax.open("GET", path, true);
          ajax.send();
          ajax.onload = function(e) {
          var div = document.createElement("div");
          div.className = 'd-none';
          div.innerHTML = ajax.responseText;
          document.body.insertBefore(div, document.body.childNodes[0]);
          }
      }
      // this is set to BootstrapTemple website as you cannot 
      // inject local SVG sprite (using only 'icons/orion-svg-sprite.svg' path)
      // while using file:// protocol
      // pls don't forget to change to your domain :)
      injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg'); 
      
    </script>
    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </body>
</html>