{% load static %}
<section>
    <div class="py-2 bg-dark  text-white">
        <div class="container py-1">
        <div class="row ">
            <div class="col-lg-4">
            
    
            </div>
            <div class="col-lg-4  d-lg-block text-center">
            <ul class="list-inline mb-0 small">

                <li class="list-inline-item"><a class="reset-anchor" href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="list-inline-item"><a class="reset-anchor" href="{% url 'logout' %}">Logout</a></li>
                <li class="list-inline-item"><a class="reset-anchor" href="{% url 'make-job' %}">Post Job</a></li>
                
            </ul>
            </div>
        

        {% comment %} the user profile {% endcomment %}
        
 
      </div>
    </div>
  </div>

</section>
